* {
    padding: 0;
    margin: 0;
    font-family: 'Martel Sans', sans-serif;
}

.main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-image: url("./Assets/main_back.jpg");
    height: 700px;
    position: relative;
}

.main .box {
    position: absolute;
    height: 700px;
    width: 100%;
    opacity: 0.77;
    top: 0;
    background-color: black;
}

nav {
    padding: 10px 0px;
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav div{
    display: flex;
    gap: 25px;
}

nav div button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 126px;
    height: 32px;
    border: 0.1px solid transparent;
}

nav div button img{
    height: 16px;
    width: 16px;
}

nav img {
    color: red;
    height: 40px;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

body {
    background-color: black;
}

.hero {
    padding: 0px 30px;
    text-align: center;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 11px;
    z-index: 10;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.separation {
    position: relative;
    z-index: 20;
    height: 7px;
    background-color: rgb(41, 41, 41);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.btn {
    color: white;
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    color: white;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.1px solid white;
    padding: 12px 115px 12px 14px;
    font-size: 12px;
    border-radius: 4px;
}

.first {
    height: 578px;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secimg {
    position: relative;
    top: 0;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    width: 420px;
    position: absolute;
    top: 51px;
    right: 0;
}

.first div {
    display: flex;
    flex-direction: column;
}

.first div :first-child {
    font-size: 48px;
    font-weight: 700;
}

.first div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.second:nth-child(2) span {
    color: white;
}

.third .secimg video {
    width: 300px;
    position: absolute;
    right: 90px;
}

.faq {
    background-color: black;
    color: white;
    padding: 72px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.faq .faqbox {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    padding: 22px;
    max-width: 73vw;
    margin: 8px auto;
    justify-content: space-between;
    background-color: #2d2d2d;
    cursor: pointer;
    opacity: 0.8;
}

.faqbox:hover {
    opacity: 1;
    background-color: rgb(63, 63, 63);
}

.faqbox svg {
    filter: invert(1);
}

footer {
    color: white;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    line-height: 34px;
}

.footer-item {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    font-size: 14px;
    color: white;
}

footer .q {
    margin-left: 240px;
    padding: 34px;
    text-align: start;
}

.email {
    padding: 30px;
    max-width: 60vw;
    margin: auto;
    text-align: center;
}

.email div{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.email input {
    color: white;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.1px solid white;
    padding: 12px 115px 12px 14px;
    font-size: 12px;
    border-radius: 4px;
}